/***** for a mobile viewport *****/
body{
	max-width: 100%;
}

nav,
ul {
  text-align: center;
}

ul {
    list-style-type: none;
}

a{
	font-family: 'Permanent Marker', cursive;
  text-decoration: none;
  color: turquoise;
}

li {
    display: inline;
    margin-left: 4%;
    margin-right: 4%;
}

h2{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}


img{
	max-width: 100%;
}

p{
	font-family: 'Muli', sans-serif;
	max-width: 100%;
}









/***** for a wider laptop or desktop viewport *****/
@media only screen and (min-width: 1200px) {
section {
    display: inline-block;
}

section:nth-child(n+2){
    margin-top: 3%;
}

  
nav,
ul {
    text-align: center;
}
	
img{
    max-width: 50%;
    float: left;
}
	
p{
    max-width: 50%;
    padding: 3%;
    float: right;
}
	

}
