/***** for a mobile viewport *****/
body{
	max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-left: 8%;
    margin-right: 8%;
}


img{
	max-width: 100%;
}

p{
	max-width: 100%;
}









/***** for a wider laptop or desktop viewport *****/
@media only screen and (min-width: 1200px) {
	img{
		max-width: 50%;
	}
	
	p{
		max-width: 50%;
	}
	

}
